/* Home.css */

.home-section {
    text-align: center;
    padding: 50px;
    padding-top: 15%;
    height: 100vh;
    margin-left: 10%  ;
    background-color: #f2f2f2; /* Set your desired background color */
  }
  
  .name {
    color: #00bcd4; /* Set your desired color for the name */
  }
  
  .home-about {
    font-size: 1.4rem;
    margin-top: 20px;
    color: #666; /* Set your desired color for the text */
    padding:10px 15% 10px 15%;
    line-height: 1.3;

  }
  
  .social-home {
    margin-top: 20px;
  }
  
  .social-home ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .social-home ul li {
    display: inline-block;
    margin-right: 20px;
    size: 2rem;
  }
  
  .social-home ul li a {
    text-decoration: none;
    color: #333; /* Set your desired color for the icons */
    font-size: 28px;
  }
  
  .social-home ul li a:hover {
    color: #00bcd4; /* Set your desired hover color for the icons */
  }
  