/* App.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; /* Set your preferred font-family */
  }
  
  /* Add any global styles or resets you need for your application */
  